/*
 * Table of Contents
 *
 * 1. Theme Rules 
 * 2. Media Queries
 ============================================================================== */

/*
 * 1. Theme (by order of appearance)
 ============================================================================== */
 /** global **/
 .container {
  width: 90%; /* 90% of screen (see media-queries for specifity) */
  max-width: 1260px;
  height: auto;
  margin: 0 auto;
}

/* navigation */
.main-nav {
  position: fixed;
  width: 300px;
  height: 100%;
  left: -300px;
  background: #454545;
  opacity: 0.9;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  border-bottom: 4px double #00aaff;
  text-align: center;
  line-height: 60px;
  padding: 4px 20px;
}

.main-nav a {
  color: #ecf0f1;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.close-icon {
  cursor: pointer;
  padding: 10px;
}

/******************************************************************************************/

/** all pages **/
.hero-section, .recent-work, .about-me, .folio-section, .blog-time, .contact-page, .footer { 
  position: relative;
  min-height: 100%;
}
/**  
 ** index.html
 **/
.hero-header {
  position: relative;
  width: 100%;
  margin: 0;
  height: 80px;
  background-color: #ecf0f1;
  border-bottom: 5px double #00aaff;
}

.menu-icon {
  position: fixed;
  cursor: pointer;
  color: #454545;
  font-size: 1.6em;
  padding: .6em;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  z-index: 5;
}

.my-initials {
  float: right;
  clear: both;
}

/* introduction */
.my-introduction {
  position: relative;
  top: 4rem;
  width: 100%;
  min-height: 300px;
  background: url('../img/devices.png') repeat-x;
}

/*
 * animated background CSS
 *********************************************************************/
/*@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100000% 0; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100000% 0; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100000% 0; }
}

.animated-background {
  background-image: url('../img/devices.png');
  background-position: fixed;
  -webkit-animation:animatedBackground 400s;
  -moz-animation:animatedBackground 400s;
  -ms-animation:animatedBackground 400s;
  -o-animation:animatedBackground 400s;
  animation:animatedBackground 400s;
}*/

.hero-name, .hero-title, .hero-blurb { 
  color: #454545;
  text-align: right;
}
/*.hero-name { padding-top: 1.5em; }
.hero-blurb { padding-bottom: .1em; }*/

.text-background { 
  background-color: #ecf0f1;
  padding: .1em .2em;
}
/* social icons  */
.connect-with-me {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 1.5rem 0;
}
.connect-message { 
  padding: 0 2rem;
  color: #454545; 
  font-size: 1.2rem;
}
.icon-links {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  white-space: nowrap;
}
.icon-links a:link, .icon-links:visited {
  display: inline-block;
  width: 16.66667%;
  text-decoration: none;
  text-align: center;
  padding: 0 1rem;
  font-size: 5rem;
}
.bitbucket-icon,
.twitter-icon,
.linkedin-icon,
.instagram-icon,
.facebook-icon,
.google-icon {
  color: #454545; 
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}
.bitbucket-icon:hover {
  color: rgb(32, 80, 129);
}
.twitter-icon:hover {
  color: rgb(0, 172, 237);
}
.linkedin-icon:hover {
  color: rgb(0, 127, 177);
}
.instagram-icon:hover {
  color: rgb(63, 114, 155);
}
.facebook-icon:hover {
  color: rgb(59, 89, 152);
}
.google-icon:hover {
  color: rgb(209, 72, 54);
}
.icon-link-text {
  font-size: 1.125rem;
}

.my-cv {
  height: auto;
  padding: 1em 0 7em 0;
}

/* blog.html */
.blog-post {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
}

.blog-title {
  text-align: center;
}

.blog-subtitle {
  text-align: center;
  font-weight: 400;
  color: #95a5a6;
  padding-bottom: 30px;
}

.blog-paragraph {
  text-indent: 1em;
  padding: 15px 10px;
  line-height: 1.6;
}

/*
 * 2. (Media Query - ordered by content delivery)
 ============================================================================== */
@media only screen and (max-width: 480px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  /* navigation */
  .main-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    background: #454545;
  }
  .my-introduction {
    height: auto;
  }
  .icon-links {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    white-space: nowrap;
  }
  .icon-links a:link, .icon-links:visited {
    display: inline-block;
    width: 50%;
    text-decoration: none;
    text-align: center;
    padding: 0 1rem;
    font-size: 5rem;
  }
}
@media only screen and (min-width: 600px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 992px) {
  
}
@media only screen and (min-width: 1382px) {
  
}