/*
 * Table of Contents
 *
 * 1. Base Rules (Elements, Typography - no classes or ID selectors)
 * 2. Layout Rules (Grid, ID and Class Selectors)
 * 3. State Rules 
 * 4. Utilities (alignment, floats etc)
 * 5. colors (background, text and hover)
 * 6. Third Party Code
 ============================================================================== */

/*
 * 1. Base 
 ============================================================================== */

@font-face {
    font-family: 'corbelregular';
    src: url('../fonts/corbel-webfont.eot');
    src: url('../fonts/corbel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/corbel-webfont.woff') format('woff'),
         url('../fonts/corbel-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	font: 100%/1.5 'corbelregular', sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #ecf0f1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
body { 
	position: relative;
	overflow-x: hidden;
	left: 0;
	background-color: #404040;
}
html, body { height: 100%; }

/** typography **/
h1 { font-size: 3rem; /* 48px */}
h2 { font-size: 2rem; /* 36px */}
h3 { font-size: 1.75rem; /* 28px */ }
h4 { font-size: 1.125rem; /* 18px */ }
h1, h2, h3, h4, h5 {
  	font-weight: 600;
  	margin: 0;
}
p { 
	font-size: 1.275rem; /* 20px */
  	margin: 0 auto;
}

/*
 * 2. Layout 
 ============================================================================== */
.column { 
	display: block;
	float: left;
	margin: 1% 0 0.25% 1%;
	/*padding: 0 1.1rem;*/
}
.column:first-child { margin-left: 0; }

.column.single-column { width: 100%; }
.column.one-of-two { width: 49.5%; }
.column.one-of-three { width: 32.66%; }
.column.two-of-three { width: 66.33%; }
.column.one-of-four { width: 24.25%; }
.column.three-of-four { width: 74.75%; }
.column.one-of-five { width: 19.2%; }
.column.two-of-five { width: 39.4%; }
.column.three-of-five { width: 59.6%; }
.column.four-of-five { width: 79.8%; }
.column.one-of-six { width: 15.83%; }
.column.five-of-six { width: 83.16%; }

@media only screen and (max-width: 480px) {
	/* remove bottom margin and make all widths stack */
	.column { margin: 1% 0; }
	.column.single-column, 
	.column.one-of-two, 
	.column.one-of-three,
	.column.two-of-three,
	.column.one-of-four, 
	.column.three-of-four,
	.column.one-of-five, 
	.column.two-of-five, 
	.column.three-of-five, 
	.column.four-of-five, 
	.column.one-of-six, 
	.column.five-of-six { width: 100%; }
}
.row:before, .row:after { 
	content: " "; 
	display: table; 
}
.row:after { clear: both; }

/*
 * 4. Utilities 
 ============================================================================== */

.pull-left { float: left; }
.pull-right { float: right; }
.center-block { margin: 0 auto; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.align-text-right { text-align: right; }
.small {height: 200px; }
.medium { 
	min-height: 25%;
	min-height: 25vh; 
	padding-bottom: 25%; }
.large { height: 300px; }

/*
 * 5. Colors 
 ============================================================================== */

/* background-colors   */
/** Neutral Colors **/
.darkest-gray { background: #2e2e2e; } /* 20% darker than base */
.darker-gray { background: #383838; } /* 10* darker than base */
.gray { background: #404040; } /* base gray */
.lighter-gray { background: #4b4b4b; } /* 10% lighter than base */
.lightest-gray { background: #636363; } /* 20% ligther than base */
.clouds { background: #ecf0f1; }
.concrete { background: #95a5a6; }
.silver { background: #bdc3c7; }
.asbestos { background: #7f8c8d; }
.porcelain { background: #ecf0f1; }

/** Red Family **/
.pink { background: #ee059f; }
.queen { background: #a0102d; }
.alizarin { background: #e74c3c; }
.pomegranate { background: #c0392b; }
.crusta { background: #f2784b; }
.orange { background: #f39c12; }
.carrot { background: #e67e22; }
.sunflower { background: #f1c40f; }
.pumpkin { background: #d35400; }
.purple { background: #ba00ff; }
.amethyst { background: #9b59b6; }
.wisteria { background: #8e44ad; }

/** Blue Family **/
.blue { background: #0035fc; }
.peterriver { background: #3498db; }
.belizehole { background: #2980b9; }
.wetasphalt { background: #34495e; }
.midnightblue { background: #2c3e50; }

/** Green Family **/
.greenhaze { background: #009c75; }
.emerald { background: #2ecc71; }
.turquoise { background: #1abc9c; }
.greensea { background: #16a085; }

.blank { background: transparent; }

/* background-color on hover  */
/** Neutral Colors **/
.white-hover, .darkest-gray-hover, .darker-gray-hover, .gray-hover, .lighter-gray-hover, .lightest-gray-hover, .clouds-hover, .concrete-hover, .silver-hover, .asbestos-hover, .porcelain-hover, .pink-hover, .queen-hover, .alizarin-hover, .pomegranate-hover, .crusta-hover, .orange-hover, .carrot-hover, .sunflower-hover, .pumpkin-hover, .silver-hover, .purple-hover, .amethyst-hover, .wisteria-hover, .blue-hover, .peterriver-hover, .belizehole-hover, .wetasphalt-hover, .midnightblue-hover, .greenhaze-hover, .emerald-hover, .turquoise-hover, .greensea-hover { transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out; }

/** Neutral Colors **/
.darkest-gray-hover:hover { background: #2e2e2e; }
.darker-gray-hover:hover { background: #383838; }
.gray-hover:hover { background: #404040; }
.lighter-gray-hover:hover { background: #4b4b4b; }
.lightest-gray-hover:hover { background: #636363; }
.white-hover:hover { background: #ffffff; }
.clouds-hover:hover { background: #ecf0f1; }
.concrete-hover:hover { background: #95a5a6; }
.silver-hover:hover { background: #bdc3c7; }
.asbestos-hover:hover { background: #7f8c8d; }
.porcelain-hover:hover { background: #ecf0f1; }

/** Red Family **/
.pink-hover:hover {background: #ee059f;}
.queen-hover:hover {background: #a0102d;}
.alizarin-hover:hover {background: #e74c3c;}
.pomegranate-hover:hover {background: #c0392b;}
.crusta-hover:hover {background: #f2784b;}
.orange-hover:hover {background: #f39c12;}
.carrot-hover:hover {background: #e67e22;}
.sunflower-hover:hover {background: #f1c40f;}
.pumpkin-hover:hover {background: #d35400;}
.silver-hover:hover {background: #7f8c8d;}
.purple-hover:hover {background: #ba00ff;}
.amethyst-hover:hover {background: #9b59b6;}
.wisteria-hover:hover {background: #8e44ad;}

/** Blue Family **/
.blue-hover:hover { background: #0035fc; }
.peterriver-hover:hover { background: #3498db; }
.belizehole-hover:hover { background: #2980b9; }
.wetasphalt-hover:hover { background: #34495e; }
.midnightblue-hover:hover { background: #2c3e50; }

/** Green Family **/
.greenhaze-hover:hover { background: #009c75; }
.emerald-hover:hover { background: #2ecc71; }
.turquoise-hover:hover { background: #1abc9c; }
.greensea-hover:hover { background: #16a085; }

/*  font-color colours  */
/** Neutral Text Family **/
.darkest-gray-text { color: #2e2e2e; }
.darker-gray-text { color: #383838; }
.gray-text { color: #404040; }
.lighter-gray-text { color: #4b4b4b; }
.lightest-gray-text { color: #636363; }
.white-text { color: #ffffff; }
.clouds-text { color: #ecf0f1; }
.concrete-text { color: #95a5a6; }
.silver-text { color: #bdc3c7; }
.asbestos-text { color: #7f8c8d; }
.porcelain-text { color: #ecf0f1; }

/** Red Text Family **/
.pink-text { color: #ee059f; }
.queen-text { color: #a0102d; }
.alizarin-text { color: #e74c3c; }
.pomegranate-text { color: #c0392b; }
.crusta-text { color: #f2784b; }
.orange-text { color: #f39c12; }
.carrot-text { color: #e67e22; }
.sunflower-text { color: #f1c40f; }
.pumpkin-text { color: #d35400; }
.purple-text { color: #ba00ff; }
.amethyst-text { color: #9b59b6; }
.wisteria-text { color: #8e44ad; }

/** Blue Text Family **/
.blue-text { color: #0035fc; }
.peterriver-text { color: #3498db; }
.belizehole-text { color: #2980b9; }
.wetasphalt-text { color: #34495e; }
.midnightblue-text { color: #2c3e50; }

/** Green Text Family **/
.greenhaze-text { color: #009c75; }
.emerald-text { color: #2ecc71; }
.turquoise-text { color: #1abc9c; }
.greensea-text { color: #16a085; }
.white-text { color: #ffffff; }

/*
 * 6. Third Party 
 ============================================================================== */

/* Clearfix by Nicolas Gallagher */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*
 * 7. Third Party 
 ============================================================================== */
