/*
 * Table of Contents
 *
 * 1. Theme  
 * 2. Media Queries
 ============================================================================== */

/*
 * 1. Theme
 ============================================================================== */
.container {
  width: 90%; /* 90% of screen (see media-queries for specifity) */
  max-width: 960px;
  height: auto;
  margin: 0 auto;
}

/* 
 * home section
 */
.header {
  position: fixed;
  width: 100%; 
  height: 80px;
  background-color: #424242;
  z-index: 1000; /* keep the header above at all times */
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  float: left;
  white-space: nowrap;
}

.skip-links li {
  height: 80px;
  font-size: 1.6em;
  margin: 0;
  padding: 0 .8em;
  line-height: 80px;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
}

.my-initials {
  margin: 0;
  padding: 0.1rem 1rem;
  color: #ecf0f1;
  background-color: #1abc9c;
}

.scroll-down {
  background-color: #3d3d3d;
}

.scroll-down a:link, .scroll-down a:visited {
  color: #ecf0f1;
  display: block;
  cursor: pointer;
}

.menu-icon, .close-icon {
  color: #ecf0f1;
  cursor: pointer;
}
.close-icon {
  display: none;
}

.hidden-link { display: none; }

.skip-links a:link, .skip-links a:visited {
  display: block;
  color: #ecf0f1;
  line-height: 80px;
  text-decoration: none;
}

/* navigation */
.main-nav {
  position: relative;
  left: 150%;
  float: right;
}

.main-nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.main-nav li {
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  padding: 0.1rem 1rem;
  background-color: #ecf0f1;
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}

.main-nav li:hover {
  background-color: #dedede;
}

.main-nav li:first-child:hover {
  background-color: #1abc9c;
}

.main-nav a:link, .main-nav a:visited {
  display: block;
  color: #404040;
  font-size: 1.3rem;
  text-decoration: none;
  font-variant: small-caps;
}

/******************************************************************************************/

/** all pages **/

.splash-screen, .recent-work, .footer {
  position: relative;
  min-height: 100%; /* browser fallback */
  min-height: 100vh; /* viewport height for newer browsers */
  padding-top: 80px;
}

.my-introduction {
  width: 100%;
  padding-top: 3rem;
  height: 300px;
  background: url('../img/lg-devices.png') #ecf0f1;
 /* background: url('../img/device-cluster.png')  #95a5a6;
  background-position: left top;
  background-repeat: no-repeat;*/
  /*background: url('../img/tunisia-hotelfront.jpg');*/
}

.my-name, .my-title {
  text-align: right;
  color: #404040;
}

.my-title { font-size: 2em; }

/* keeps the text visible without but separate */
.text-background { 
  background-color: #ecf0f1;
  padding: .1em .2em;
}

/* social icons  */
.connect-with-me {
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding: 1.5rem 0;
}
.connect-message { 
  padding: 0 2rem;
  color: #454545; 
  font-size: 1.2rem;
}
.social-icon-links {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  white-space: nowrap;
}

.social-icon-links li {
  width: 16.66667%;
  height: 100%;
  display: inline-block;
}

.social-icon-links a:link, a:visited {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  padding: 1rem;
  font-size: 5rem;
  color: #ecf0f1;
}

a.bitbucket-icon,
a.twitter-icon,
a.linkedin-icon,
a.instagram-icon,
a.facebook-icon,
a.google-icon {
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}
a.bitbucket-icon:hover {
  color: rgb(32, 80, 129);
}
a.twitter-icon:hover {
  color: rgb(0, 172, 237);
}
a.linkedin-icon:hover {
  color: rgb(0, 127, 177);
}
a.instagram-icon:hover {
  color: rgb(63, 114, 155);
}
a.facebook-icon:hover {
  color: rgb(59, 89, 152);
}
a.google-icon:hover {
  color: rgb(209, 72, 54);
}

.icon-link-text {
  font-size: 1.125rem;
}

.recent-work {
  min-height: 100%;
}

.gridset-link {
  position: relative;
  width: 100%;
  height: 100%;
  float: right;
}

.gridset-link a:link, .gridset-link a:visited {
  position: absolute;
  right: 10px;
  bottom: 5px;
  padding: 0 1rem;
  text-decoration: none;
  color: #404040;
  background: #ecf0f1;
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s
}

.gridset-link a:hover {
  text-decoration: none;
  color: #ecf0f1;
  background: #404040;
  text-align: center;
}
.blog-preview {
  color: #404040;
  padding: 15px 10px;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

.thumbnail a:link, .thumbnail a:visited {
  text-decoration: none;
  color: #404040;
  display: block;
  height: 100%;
}

.thumbnail img {
  width: 100%;
  max-height: 100%;
}

.thumbnail a img {
  width: 100%;
  max-height: 100%;
}

.thumbnail a span {
  background: transparent;
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s
}

.thumbnail a span:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  padding: 0 .5rem;
  background: #ecf0f1;
}

.gridset:hover {
  background: url('../img/gridset-badge.jpg') no-repeat;
  background-size: cover;
}

#form-div {
  background-color: rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #ecf0f1;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons courtesy of http://findicons.com/icon/440779/pencil ---------------------------------- */
#name{
  background-image: url('../img/contacts.png');
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url('../img/contacts.png');
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url('../img/envelope.png');
  background-size: 30px 22px;
  background-position: 11px 12px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url('../img/envelope.png');
  background-size: 30px 22px;
  background-position: 14px 12px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url('../img/pencil.png');
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #1abc9c;
  color: #ecf0f1;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

.my-cv {
  height: auto;
  padding: 1em 0 7em 0;
}

/* blog.html */
.blog-content { 
  padding-top: 85px;
  background: #ecf0f1;
}

.blog-post {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
}

.blog-title {
  color: #303030;
  text-align: center;
}

.blog-subtitle, .blog-subheading {
  text-align: center;
  font-weight: 400;
  color: #313131;
  padding-bottom: 30px;
}

.blog-paragraph {
  padding: 15px 10px;
  line-height: 1.6;
  color: #404040;
}

.blog-paragraph a:link, .blog-paragraph a:visited {
  text-decoration: none;
  color: #930000;
  transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s
}

.blog-paragraph a:hover {
  color: #00aaff;
}

ol {
  text-indent: 1em;
  color: #404040;
}
/*
 * 2. (Media Query - ordered by content delivery)
 ============================================================================== */
@media only screen and (max-width: 480px) {
  * {
    float: none;
  }
  html {
    font-size: 90%;
  }
  .container {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    padding: 2.5%;
  }

  .column {
    float: none;
    margin: 1% 0;
  }
  /* navigation */
  .main-nav {
    position: relative;
    top: -150%;
  }

  .main-nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

  .main-nav li {
    height: 80px;
    display: block;
    text-align: center;
    line-height: 80px;
    padding: 0.1rem 1rem;
    background-color: #ecf0f1;
    transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
  }

  .main-nav li:hover {
    background-color: #dedede;
  }

  .main-nav li:first-child:hover {
    background-color: #1abc9c;
  }

  .main-nav a {
    display: block;
    color: #404040;
    font-size: 1.3rem;
    text-decoration: none;
    font-variant: small-caps;
  }

  .my-introduction { 
    height: auto;
  }
  .connect-with-me {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1.5rem 0;
  }
  .my-name, .my-title {
    text-align: center;
    color: #404040;
    padding: 1rem;
  }
  .social-icon-links {
    white-space: normal;
  }

  .social-icon-links li {
    width: 49.5%;
  }

  .thumbnail {
    margin-bottom: 1.5%;
  }

}

@media only screen and (max-width: 580px) {
  #form-div{
    width: 88%;
    display: block;
    margin: 0 auto;
    float: none;
    padding-left: 3%;
    padding-right: 3%;
  }
}